body {
    background: url("https://images.wallpaperscraft.ru/image/single/novyj_god_rozhdestvo_kot_otkrytka_98535_3840x2400.jpg") center/cover no-repeat;
    height: 90vh;
}

form {
    text-align: center;
    margin: 25px 0;
}

#inp {
    border: 5px solid burlywood;
    text-align: center;
    border-radius: 50%;
    height: 80px;
    box-shadow: 0px 0px 20px 5px rgb(154, 174, 24);
    font-weight: bold;
    font-style: italic;
}

#inp:hover {
    background-color: rgba(0, 255, 255, 0.173);
    width: 150px;
}

#btn {
    display: flex;
    width: 10%;
    margin: 20px auto;
    justify-content: center;
    border-radius: 2em;
    background-color: wheat;
    box-shadow: 0px 0px 20px 5px rgb(45, 159, 188);
    font-weight: bold;
    font-style: italic;
    transition: 1s;
    opacity: 50%;
}

#btn:hover {
    /* height: 80px; */
    align-items: center;
    color: rgba(255, 0, 0, 0.488);
    border-radius: 50%;
    opacity: 100%;
}

#count {
    width: 85px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.459)
}

.output {
    width: 100vw;
    border: 0;
    /* box-shadow: 0px 0px 20px 35px rgb(45, 188, 93); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(33, 123, 129);
    border-radius: 10em;
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 20px 5px rgb(236, 234, 236);
}